In [2]:
import pandas as pd
df = pd.read_csv("taxa.csv", low_memory=False, encoding="latin-1", delimiter=";", decimal=',')
df.loc[[0,8,18,23,27]]

,Região/Unidade da Federação,Menor de 10 anos,10 a 14 anos,15 a 19 anos,20 a 24 anos,25 a 29 anos,30 a 34 anos,35 a 39 anos,40 a 44 anos,45 a 49 anos,50 a 54 anos,55 a 59 anos,60 a 64 anos,65 a 69 anos,Idade ignorada,Total
0,Região Norte,0,4781,71261,89670,67361,46064,21669,5278,386,31,3,4,1,21,306530
8,Região Nordeste,3,9218,158762,212523,184879,142071,70744,17360,1106,68,18,8,0,6,796766
18,Região Sudeste,1,6065,155295,265394,273787,248764,143388,33329,1933,95,18,7,0,20,1128096
23,Região Sul,0,2156,54027,92161,96604,86739,47998,11223,602,31,0,4,0,3,391548
27,Região Centro0Oeste,0,1915,37901,61553,57845,46453,23607,5247,294,33,8,3,0,1,234860

In [1]:
import sys;
sys.version

'2.7.15 (default, May  1 2018, 05:55:50) \n[GCC 7.3.0]'

In [8]:
df.loc[[0,8,18,23,27], '10 a 14 anos']
d = df.loc[[0,8,18,23,27],'Região/Unidade da Federação']

In [9]:
cl = ['10 a 14 anos',
       '15 a 19 anos', '20 a 24 anos', '25 a 29 anos', '30 a 34 anos',
       '35 a 39 anos', '40 a 44 anos', '45 a 49 anos', '50 a 54 anos']

In [10]:
import matplotlib.pyplot as plt
plt.axis('equal')
for x in cl:
    qtd = df.loc[[0,8,18,23,27], x]
    ex = [0, 0, 0, 0, 0]
    qtd2 = []
    for y in qtd:
        qtd2.append(y)
    ex[qtd2.index(max(qtd2))]=0.1
    plt.pie(df.loc[[0,8,18,23,27], x], autopct="%.2f", explode = ex,labels = d)
    plt.suptitle("Gestantes " + x + " por Região")
    plt.legend(qtd,title="Quantidade", loc = "center left",bbox_to_anchor=(1.5,0,2,1))
    plt.show()

ModuleNotFoundError: No module named 'matplotlib'